.mainHeader {
  top: 0;
  left: 0;
  z-index: 900;
  color: white;
  position: fixed;
  width: 100%;
  font-family: "Teko", sans-serif;
  transition: all 0.5s;
}
.container {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper a {
  text-decoration: none;
}
.wrapper a h1 {
  color: white;
  margin-bottom: auto;
  margin-top: auto;
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: 500;
  margin-right: auto;
}
.wrapper {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: white 2px solid;
}
.wrapper.wrapperOpen {
  border-bottom: transparent 2px solid;
  transition: all 0.5s;
}
.wrapper.wrapperOpen a h1 {
  opacity: 0;
  transition: all 0.5s;
}
.btn {
  cursor: pointer;
  border: none;
  align-self: center;
  padding: 2em;
  background-color: transparent;
  transition: all 1s;
}
.btn::before,
.btn::after {
  content: "";
  width: 1.6rem;
  height: 2px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  position: absolute;
  transition: all 0.3s;
  transform: rotate(0deg);
}
.btn::after {
  top: 3.5rem;
}
.btn.btnOpen::before {
  top: 3.5rem;
  transform: rotate(45deg);
}
.btn.btnOpen::after {
  transform: rotate(-45deg);
}
.secondHeader {
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(255, 255, 255, 0.938);

  position: fixed;
  width: 100%;
  font-family: "Teko", sans-serif;
  transition: all 0.5s;
}
.secondHeader .wrapper a h1 {
  color: black;
}
.secondHeader .wrapper {
  padding-top: 1em;
}

.secondHeader .btn::before,
.secondHeader .btn::after {
  background-color: black;
}
.secondHeader .btn::after {
  top: 3.8rem;
}
