body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 97vw;
  height: 97vh;
  margin: 1em auto;
  background-size: cover;
  font-family: "Teko", sans-serif;
  background-image: url(../space.jpg);
}
.container article {
  display: grid;
  grid-template-rows: 1fr;
  margin: 0 auto;
  height: 90%;
  max-width: 1200px;
}
.container div {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.container article h1 {
  margin: auto 0;
  letter-spacing: 3px;
  font-size: 15vw;
  color: whitesmoke;
  padding-left: 0.05em;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  .container {
    margin: 0 auto;
  }
  .container article h1 {
    text-align: center;
    font-size: 25vw;
  }

  .container div {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    background-image: none;
  }
  .container div {
    padding-top: 2em;
  }
  .container div button {
    margin-left: 1em;
    width: 100%;
  }
  .container article {
    background-image: url(../space.jpg);
    background-size: cover;
  }
}
